body {
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: flex-start;
}

button {
    font-family: 'Bruno Ace SC', cursive;
}

#users {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.user {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 23px;

    background: black;
    color: #cdebff;
    border-radius: 10px;
    margin: 3% 0;
}

.btnInfo {
    width: 70%;
    height: 60px;

    background: #cdebff;
    transition: 1s;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}
